<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retrofitApi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TestingApiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImageLoadActivity">

        </activity>
        <activity android:name=".activity.NewsDetailActivity" />
        <activity android:name=".activity.UploadFileActivity" />
        <activity android:name=".activity.DeleteRecordActivity" />
        <activity android:name=".activity.UpdateRecordActivity" />
        <activity
            android:name=".DecideMethodReqActivity"
            android:theme="@style/CustomTheme"></activity>
        <activity
            android:name=".UserRecordActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>